<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>BIMSYNC Analytics</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- Chart.js -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/sidebar.css">
  </head>

  <body>

    <nav class="navbar navbar-light" id="horizontalNavBar">
      <a class="navbar-brand text-white" href="#">
        <img src="images/logo-bimsync.png" width="25" height="30" class="d-inline-block align-top" alt="">
        BIMSYNC Analytics
      </a>
      <div class="mr-0">
        <% if(!sessionOauth){ %>
          <a class="text-white" href="https://bimsync.com/login/oauth2/authorize?response_type=code&state=state&client_id=eUROn8VE4OBNoYb&redirect_uri=<%=process.env.redirect_URL%>">Connect to BIMSYNC</a>
        <% } else{ %>
          <a class="text-white" href="/logout">Log out</a>
        <% } %>
      </div>

    </nav>

    <div class="wrapper">
      <nav id="sidebar">
        <ul class="list-unstyled ">
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">BIM Management</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="/projects">Revisions par projet</a>
                    </li>
                    <li>
                        <a href="#">Models</a>
                    </li>
                    <li>
                        <a href="#">Users</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Chef de projet</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">En attente</a>
                    </li>
                    <li>
                        <a href="#">En attente</a>
                    </li>
                    <li>
                        <a href="#">En attente</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ingénieur GC</a>
                <ul class="collapse list-unstyled" id="pageSubmenu2">
                    <li>
                        <a href="#">En attente</a>
                    </li>
                    <li>
                        <a href="#">En attente</a>
                    </li>
                    <li>
                        <a href="#">En attente</a>
                    </li>
                </ul>
            </li>

        </ul>
      </nav>
      <div id="content">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
        </button>
