<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- Chart.js -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/content.css">
    <link rel="stylesheet" href="/css/home.css">
    <!-- Icon du header -->
    <link rel="shortcut icon" href="images/Chart.png" type="image/x-icon" />
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,700" rel="stylesheet">

    <title>BIMSYNC ANALYTICS</title>
  </head>

  <body>

    <div class="wrapper">
<!-- SIDEBAR -->
      <nav id="sidebar">
        <i src="images/Chart.png" alt="Logo" height="20px" width="20px"></i> <p id="title-sidebar"><i class="far fa-chart-bar"></i><span class="media"> BIMSYNC ANALYTICS</span></p>
        <ul class="list-unstyled ">
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-cube"></i><span class="media"> BIM management</span></a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a class="sous-menu" href="/projects">Global view</a>
                    </li>
                    <li>
                        <a class="sous-menu" href="#">Projects data</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> <i class="fas fa-project-diagram"></i><span class="media"> Project manager</span></a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a class="sous-menu" href="#">Work in progress...</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-database"></i><span class="media"> IFC data<span>
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu2">
                    <li>
                        <a class="sous-menu" href="#">Work in progress...</a>
                    </li>
                </ul>
            </li>

        </ul>
        <footer class="media">
          <button onclick="window.print()">Print This Page</button>
          <p id="source">Developed by David SWIATKIEWIEZ</p>
          <p>View the <a href="https://github.com/davidSWZ/bimsync_stat">source</a> on Github</p>
        </footer>
      </nav>

<!-- CONTENU DE LA PAGE -->
      <div id="content">
<!-- NAVBAR DU CONTENU -->
        <nav id="content-navbar" class="navbar navbar-light" id="horizontalNavBar">
          <button type="button" id="sidebarCollapse" class="btn text-white">
              <i class="fas fa-align-left"></i>
          </button>
          <div id="connection" class="mr-0">
            <% if(!user){ %>
              <a class="connect-user" href="/oauth">
                <i class="fas fa-user"></i> Connect
              </a>
            <% } else{ %>
              <span id="userName">Welcome <%=user.name%></span>
              <a class="connect-user" href="/logout"><i class="fas fa-sign-out-alt"></i> Log out</a>
            <% } %>
          </div>
        </nav>

<!-- FLASH MESSAGES -->
        <div class="flash-message container">
          <% if(error && error.length > 0){ %>
              <div class="alert alert-danger" role="alert">
                <%= error %>
              </div>
          <% } %>

          <% if(success && success.length > 0){ %>
              <div class="alert alert-success" role="alert">
                <%= success %>
              </div>
          <% } %>
      </div>
