<div class="chargement">

  <div class="d-flex justify-content-center">

    <div class="spinner-grow spinner-grow-sm text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>

    <div class="spinner-grow spinner-grow-sm text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>

    <div class="spinner-grow spinner-grow-sm text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>

    <p> Please wait, the loading may take a few seconds </p>

    <div class="spinner-grow spinner-grow-sm text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>

    <div class="spinner-grow spinner-grow-sm text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>

    <div class="spinner-grow spinner-grow-sm text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>

  </div>

</div>
