<% include ../partials/header %>

<!--SPINNER-->
<% include ../partials/spinner %>

<div class="graphContainer" >

<!-- CANVAS PREMIER BARGRAPH AVEC LES REVISIONS -->
  <div class="graphBlock">
    <h1 class="title"> Number of model revisions by project <h1>
    <div id="chart1" class="myChart">
      <canvas id="myChart"></canvas>
    </div>
  </div

<!-- CANVAS SECOND BARGRAPH AVEC LES TOPICS -->
  <div class="graphBlock">
    <h1 class="title"> Number of topics by project <h1>
    <div id="chart2" class="myChart jumbotron">
      <canvas id="chartTopics" width="500px" height="2000px"></canvas>
    </div>
  </div>

</div>

<!-- SCRIPT POUR LE PREMIER BARGRAPH AVEC LES REVISIONS -->
<% include ../partials/generateBargraphRevisions %>

<!-- SCRIPT POUR LE SECOND BARGRAPH AVEC LES TOPICS -->
<% include ../partials/generateBargraphTopics %>

<% include ../partials/footer %>
