<h1>Connection</h1>
<a href="https://bimsync.com/login/oauth2/authorize?response_type=code&state=state&client_id=eUROn8VE4OBNoYb&redirect_uri=http://localhost:3000/oauth/redirect">Connect To BIMSYNC account</a>
<a href="/projects">projects</a>
