<% include ./partials/header %>

<div class="jumbotron" id="intro-jumbo">
  <h1>Welcome to BIMSYNC ANALYTICS</h1>
  <p>The decision support instrument connected to your BIMSYNC account</p>
  <p>Please, connect to your BIMSYNC account to start using the application...</p>

</div>

<% include ./partials/footer %>
