#content{
  background: #f0f1f3;
  width: 100%;
  font-family: "muli", sans-serif;
}

#content-navbar{
  border-bottom: 1px solid #777;
  display: flex;
}

#userName{
  margin-right: 20px;
}

.flash-message{
  margin-top: 10px;
}

#sidebarCollapse{
    background: #364150;
    border: 0px;
    margin-left: 10px;
}

.connect-user{
  color: #364150 !important;
}

.connect-user i{
  font-size: 25px;
}

.choose_form{
  padding-bottom: 10px;
  border-bottom: solid 1px #c5c0c0;
}

.choose_form select{
  margin: 10px auto;
  width: 80%;
}

form{
text-align: center;
}

form label{
 margin:0 auto;
 display: inline-block;
}

.jumbotron{
  padding:10px 30px;
  text-align: center;
}

#jumboUsers{
  background-color: #e3cd56;
}

#jumboTopics{
  background-color: #ed5d72;
}

#jumboUpdate{
  background-color: #0ccf7c;
}

.number{
  font-size: 50px;
  font-weight: bold;
  padding: 0;
  margin:0;
}

.chartTitle{
  display: flex;
  justify-content: space-around;
}

.title{
  font-size: 1.5em;
  margin: 10px;
  text-align: center;
}

.graphContainer{
  display:flex;
  justify-content:space-around;
}
.graphBlock{
  display:flex;
  flex-direction: column;
  text-align: center;
  width: 47%;

}
@media screen and (max-width: 600px) {
  .graphContainer{
    display:block;
  }
  .graphBlock{
    width: 95%;
  }
}
