#content{
  background: #f0f1f3;
  width: 100%;
  font-family: "muli", sans-serif;
}

#content-navbar{
  border-bottom: 1px solid #777;
  display: flex;
}

#userName{
  margin-right: 20px;
}

#sidebarCollapse{
    background: #364150;
    border: 0px;
    margin-left: 10px;
}

.connect-user{
  color: #364150 !important;
}

.connect-user i{
  font-size: 25px;
}

.myChart{
  width: 47%;
  padding: 10px;
  margin: 5px;
  border: 1px solid #e0e1e4;
}

#chart1{
  float: left;
}

#chart2{
  float: right;
}

@media (max-width: 500px) {
    .myChart {
        float: none !important;
        width: 95%;
