.myChart{
  width: 90%;
  height: 35vw;
  padding: 10px;
  margin: 5px;
  border: 1px solid #e0e1e4;
  overflow: auto;
}

#chart1{
  float: left;
}

#chart2{
  float: right;
}

.projectName{
  border-bottom: solid 1px #c5c0c0;
  text-align: center;
}

@media (max-width: 500px) {
    .myChart {
        float: none !important;
}
