.myChart{
  width: 97%;
  height: 500px;
  padding: 10px;
  margin: 5px;
  border: 1px solid #e0e1e4;
  overflow: auto;
}

#chart1{
  float: left;
}

#chart2{
  float: right;
}

@media (max-width: 500px) {
    .myChart {
        float: none !important;
}
